<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
  
      <container name="containerTwo">
        <register type="lntBLL.ISpublic_charBLL,lntBLL" mapTo="BLL.public_charBLL,BLL" name="public_charBLL"></register>
      <register type="lntBLL.ISstandard_detailsBLL,lntBLL" mapTo="BLL.standard_detailsBLL,BLL" name="standard_detailsBLL"></register>
      </container>
    </containers>
  </unity>

</configuration>
